<link rel="stylesheet" href="/css/home.css" />
<div class="container">
  <div class="card">
    <div class="card-body text-center">
      <h1 class="card-title mb-3">Welcome to the Website!</h1>
      <h3 class="card-text mb-3">This is a Nodejs Authentication website.</h3>

      <% if (locals.user) { %>
      <div class="user-details">
        <h2
          class="welcome-message text-capitalize animate__animated animate__pulse animate__infinite infinite animate__slow 2s"
        >
          Welcome, <%= user.name %>!
        </h2>
        <h5 class="user-email my-2">Your E-mail : <%= user.email %></h5>
        <h5 class="user-status">You are now logged in.</h5>
      </div>
      <% } else { %>
      <p
        class="login-prompt animate__animated animate__headShake animate__infinite infinite animate__slow 1.5s fs-5"
      >
        Please log in to continue.
      </p>
      <a class="btn btn-dark my-3 fw-bold" href="/users/sign-in" role="button"
        >Log In</a
      >
      <% } %>
    </div>
  </div>
</div>
