<link rel="stylesheet" href="/css/resetPass.css" />

<!-- create reset password form -->

<section
  class="d-flex align-items-center justify-content-center"
  style="background-color: transparent"
>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <!-- card -->
        <div
          class="card shadow-2-strong"
          style="
            border-radius: 1rem;
            background-color: rgba(255, 255, 255, 0.7);
          "
        >
          <div class="card-body p-5 text-center" style="color: #05085ae6">
            <h4 class="fw-bold mb-2">Reset Password for <%= email %></h4>
            <p class="text-dark-50 my-4 fw-bold">
              Please enter your new password
            </p>

            <!-- form -->
            <form action="" method="POST">
              <div class="field-holder mb-4">
                <input
                  type="password"
                  id="password"
                  name="password"
                  required
                  class="form-control"
                />
                <label for="password">Password</label>
              </div>

              <div class="field-holder mb-4">
                <input
                  type="password"
                  id="confirm_password"
                  name="confirm_password"
                  required
                  class="form-control"
                />
                <label for="confirm_password">Confirm Password</label>
              </div>

              <button
                class="btn btn-dark btn-lg btn-block reset-btn"
                type="submit"
              >
                Reset
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
