<link rel="stylesheet" href="/css/signUp.css" />

<section
  class="d-flex align-items-center justify-content-center"
  style="background-color: transparent"
>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <!-- card -->
        <div
          class="card shadow-2-strong"
          style="
            border-radius: 1rem;
            background-color: rgba(255, 255, 255, 0.4);
          "
        >
          <div class="card-body p-5 text-center">
            <h2 class="mb-4 fw-bold text-uppercase">Sign Up</h2>

            <form action="/users/create" method="POST">
              <div class="field-holder mb-4">
                <input type="text" id="name" name="name" required />
                <label for="name">Name</label>
              </div>
              <div class="field-holder mb-4">
                <input type="email" id="email" name="email" required />
                <label for="email">Email</label>
              </div>
              <div class="field-holder mb-4">
                <input type="password" id="password" name="password" required />
                <label for="password">Password</label>
              </div>
              <div class="field-holder mb-4">
                <input
                  type="password"
                  id="confirm_password"
                  name="confirm_password"
                  required
                />
                <label for="confirm-password">Confirm Password</label>
              </div>

              <button class="btn btn-dark btn-lg btn-block regr" type="submit">
                Register
              </button>
            </form>

            <hr class="my-3" />

            <a
              class="btn btn-lg btn-block google mb-3"
              href="/users/auth/google"
              type="submit"
            >
              <i class="fab fa-google"></i> Sign in with Google
            </a>

            <div class="fs-5">
              <p>
                Already have an account?
                <a
                  href="/users/sign-in"
                  class="fw-bold"
                  style="color: blue; text-decoration: underline"
                  >Login</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
