a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  height: 55px;
  background-color: #508bfc;
  color: white;
  position: relative;
  box-sizing: border-box;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 8%;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  position: absolute;
  right: 8%;
}

.listItem {
  margin-right: 25px;
  font-weight: 600;
  cursor: pointer;
}

.profile-pic {
  margin-right: 10px;
}

.avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}
